<%= simple_form_for @task,
                    url: category_tasks_path,
                    html: { class: 'form-horizontal' },
                    wrapper: :horizontal_form,
                    wrapper_mappings: {
                            check_boxes: :horizontal_radio_and_checkboxes,
                            radio_buttons: :horizontal_radio_and_checkboxes,
                            file: :horizontal_file_input,
                            boolean: :horizontal_boolean
                    }  do |f| %>
    <%= f.input :name %>
    <label class="string duedate col-sm-3 control-label" for="duedate">Duedate</label>
    <div class="form-group form-horizontal duedate">
        <div class='col-sm-3 date' id='datetimepicker1'>
            <%= f.text_field :duedate, class: 'form-control', value: "" %>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar">
                </span>
            </span>
        </div>
    </div>
    <%= f.input :complete %>
    <%= f.button :submit %>
<% end %>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>
