= simple_form_for @task,
  url: category_tasks_path,
  html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean }  do |f|

  = f.input :name
  .form-group.form-horizontal.duedate
    %label.string.duedate.col-sm-3.control-label{for: "duedate"} Duedate
    = render partial: 'layouts/datetime', locals: {f: f, column: :duedate, default_date: nil}
  = f.input :priority, collection: -5..5, selected: 0
  = f.input :complete
  .row
    .col-sm-3
    .col-sm-2
      .wrap-center.input-group{style: ""}
        = f.button :submit
