%tr
  %td
    %h4= render 'tasks/task_link_maybe_crossed', task: task
  %td
    %h5= task.duedate.nil? ? "" : task.duedate.strftime("%A, %B %e at %l:%M %p")

  %td
    %h5= time_ago_in_words task.seconds_spent.ago

  %td
    %h5= task.priority

  %td= subtasks_remaining_str task

  %td= link_to 'Edit <span class="glyphicon glyphicon-file"></span>'.html_safe,
    edit_task_path(task),
    class: 'btn btn-warning'

  %td= link_to '<span class="glyphicon glyphicon-minus"></span>'.html_safe,
    task,
    method: :delete,
    data: { confirm: 'Are you sure?' },
    class: 'btn btn-danger'
