<h1>Editing: <b><%= @task.name %></b></h1>

<%= simple_form_for @task, url: task_path(@task),
                    html: { class: 'form-horizontal' },
                    wrapper: :horizontal_form,
                    wrapper_mappings: {
                            check_boxes: :horizontal_radio_and_checkboxes,
                            radio_buttons: :horizontal_radio_and_checkboxes,
                            file: :horizontal_file_input,
                            boolean: :horizontal_boolean
                    }  do |f| %>
    <%= f.input :name%>
    <div class="form-group form-horizontal duedate">
        <label class="string duedate col-sm-3 control-label" for="duedate">Duedate</label>
        <%= render partial: 'layouts/datetime', locals: {f: f, column: :duedate} %>
    </div>
    <%= f.association :category, selected: current_user.categories.first.id %>
    <%= f.input :complete %>
    <%= f.button :submit %>
<% end %>

<%= link_to 'Show', @task %> |
<%= link_to 'Back', category_tasks_path(@task) %>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>
