%h1
  Editing:
  %b= @task.name
= simple_form_for @task, url: task_path(@task),
  html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes,
          radio_buttons: :horizontal_radio_and_checkboxes,
          file: :horizontal_file_input,
          boolean: :horizontal_boolean } do |f|

  = f.input :name

  .form-group.form-horizontal.duedate
    %label.string.duedate.col-sm-3.control-label{:for => "duedate"} Duedate
    = render partial: 'layouts/datetime',
      locals: { f: f,
      column: :duedate,
      default_date: datepicker_format(@task.duedate)}

  = f.association :category, selected: @task.category.id

  = f.input :priority, collection: -5..5, selected: @task.priority

  = f.input :complete

  = f.button :submit
=
link_to 'Cancel', @task, class: 'btn btn-info btn-md'
