%h1#tasks-list-title{style: "text-align:center;"} Not Turned In
%button{id: "switch-hide-turned-in", class: "btn btn-info btn-large"} Switch Turned-In

%table.table.table-striped.datatable.table-responsive.table-bordered.table-hover#tasks-list
  %thead
    %tr
      %th
      %th Duedate
      %th Name
      %th Priority
      %th Category
      %th Time spent so far
      %th
      %th
      %th

  %tbody
    - @tasks.each_with_index do |task, idx|
      %tr{class:[task.index_css_class, task.turned_in_css_class] }
        %td=idx
        %td= task.duedate.strftime("%A, %B %e at %l:%M %p") unless task.duedate.nil?
        %td
          %strong= link_to task.name, task_path(task)
        %td= task.priority
        %td= task.category.name
        %td= time_ago_in_words task.seconds_spent.ago
        %td= link_to (task.complete ? 'Un-Complete' : 'Complete'), complete_task_path(task, show: false), method: :patch
        %td= link_to (task.turned_in ? 'Un-Turn In' : 'Turn-in'), turn_in_task_path(task, show: false), method: :patch
        %td= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }
