<%# TODO maybe some better styling here %>
<%# TODO like a reference to this Category's background image or something %>
<h1>Task: <%= @task.name %></h1>
<h3>Category: <%= link_to @task.category.name, category_path(@task.category) %></h3>

<p><b><i>
    <% if @task.complete %>
        Complete
    <% else %>
        Incomplete
    <% end %>
</i></b></p>

<p>
    <strong>Duedate:</strong>
    <%= @task.duedate.strftime("%A, %B %e at %l:%M %p") %>, or
    <% if @task.duedate > Time.now %>
        in
    <% end %>
    roughly
    <%= time_ago_in_words(@task.duedate) %>
    <% if @task.duedate < Time.now %>
        ago
    <% end %>
</p>

<%= link_to 'Edit', edit_task_path(@task), class: 'btn btn-info btn-md' %>

<%# TODO    1. list the intervals %>
<% if @task.intervals.count > 0 %>
    <% @task.intervals.each do |interval| %>
    <% end %>
<% else %>
    <p><b>Intervals:</b> None</p>
<% end %>

<%# TODO    2. list the subtasks %>
<% if @task.subtasks.count > 0 %>
    <% @task.subtasks.each do |subtask| %>
    <% end %>
<% else %>
    <p><b>Subtasks:</b> None</p>
<% end %>

<%# TODO    3. add interval manual entry form (eventually, of %>
<%# TODO       course, the form code shouldn't just be in here) %>

<%# TODO    4. add Start/End Timer button %>
