.row
  .container-fluid
    .jumbotron
      %h1= best_in_place @task, :name, cancel_button: "cancel", cancel_button_class: 'btn btn-lg btn-warning'
      %h3 Category: #{link_to @task.category.name, category_path(@task.category)}
      %h3
        Priority:
        = best_in_place @task, :priority, type: :select, collection: Hash[(0..5).map{|x|x.to_s}.zip((0..5).to_a)]
      - unless @task.duedate.nil?
        %p
          %strong Duedate:
          = @task.duedate.strftime("%A, %B %e at %l:%M %p")
          , or
          %strong
            - if @task.duedate > Time.now
              in
            = time_ago_in_words(@task.duedate)
            - if @task.duedate < Time.now
              ago
      %p
        %strong Time spent today:
        = hours_and_minutes_string_from_seconds @task.seconds_spent_today

      #total-time
        %p#in-words
          %strong Total time spent so far:
          = time_ago_in_words @task.seconds_spent.ago
        %p#in-hours
          %strong Total time spent so far:
          about #{@task.seconds_spent / (60 * 60)} hours

      -# click total-time to switch format between words and num hours
      :coffeescript
        $hours = $('#in-hours')
        $hours.hide()
        $words = $('#in-words')
        $words.click -> switch_format()
        $hours.click -> switch_format()
        switch_format = ->
          $words.toggle()
          $hours.toggle()



      / "Complete task" button
      = link_to @task.complete ? 'Un-Complete' : 'Complete',
        complete_task_path(@task, show: true),
        class: 'btn btn-info btn-lg',
        method: :patch

      = link_to @task.turned_in ? 'Un-Turn-in' : 'Turn-in',
        turn_in_task_path(@task, show: true),
        class: 'btn btn-success btn-lg',
        method: :patch

      = link_to 'Edit',
        edit_task_path(@task),
        class: 'btn btn-default btn-lg'

-# ### HEATMAP AREA ###
.row
  = render 'heatmap', path_prefix: "#{@task.id}"

.row
  .col-md-4
    %button#toggle-subtasks.btn.btn-default.btn-sm
      %b Show/Hide Subtasks
  .col-md-1
  .col-md-7
    %button#toggle-intervals.btn.btn-default.btn-sm
      %b Show/Hide Intervals

.row
  / these are not in partials because I want to be able to
  / update the styles of both easily

  / ### SUBTASKS AREA ###
  .col-md-4
    #subtasks.panel.panel-default
      .panel-heading
        %h3 Subtasks
      .panel-body
        .well.well-sm
          = render 'subtasks/form'
        #subtasks-list
          %ul.list-group
            - @task.subtasks.each do |subtask|
              %li.list-group-item
                - if subtask.url.nil? or (subtask.url =~ /\w/).nil?
                  = best_in_place subtask, :name, cancel_button: "cancel", cancel_button_class: 'btn btn-xs btn-warning'
                - else
                  %a{href: subtask.url}
                    = subtask.name

                %span.label{class:(subtask.complete ? 'label-success' : 'label-danger')}
                  = link_to (subtask.complete ? 'Complete' : 'Incomplete'),
                    complete_subtask_path(subtask),
                    method: :patch,
                    confirm: 'Are you sure?',
                    style: 'color:white;font-weight:normal;'

                %span.badge
                  = link_to 'Delete',
                    subtask_path(subtask),
                    method: :delete,
                    confirm: 'Are you sure?',
                    style: 'color:white;font-weight:normal;'


  .col-md-1

  / ### INTERVALS AREA ###
  .col-md-7
    #intervals.panel.panel-default
      .panel-heading
        %h3 Intervals
      .panel-body
        .well.well-sm
          .row
            .col-md-2
              %button#record.btn.btn-success.btn-md Record
              %button#cancel.btn.btn-warning.btn-md Cancel
            .col-md-2
              %h1#timer-reading
            #incrementers.col-md-5
              %button#before-decrease.btn.btn-danger.btn-sm -
              %strong Before
              %button#before-increase.btn.btn-success.btn-sm +

          %br/
          .row
            .col-md-10
              = render 'intervals/form'

        %table.table#interval-table
          %tr
            %th Start
            %th End
            %th Time
            %th Date
            %th
          = render @task.intervals
