<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @subtask.task %>
</p>

<p>
  <strong>Name:</strong>
  <%= @subtask.name %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @subtask.complete %>
</p>

<%= link_to 'Edit', edit_subtask_path(@subtask) %> |
<%= link_to 'Back', task_subtasks_path %>
