%h1 My Categories
%strong#showing Showing current categories only
%button.btn.btn-sm.btn-info#show-all-switch Show All
%br
%br
.container
  - @category_rows.each do |cat_row|
    .row
      - cat_row.each do |category|
        -# dead & alive are for the Coffeescript
        -# TODO it's wrong dough. it *should* be saying whether this category is OUT OF DATE!
        .col-md-3.panel.panel-default{class: category.has_ended ? 'dead' : 'alive'}
          .panel-heading
            %h3.text-center.text-info
              = link_to(image_tag('Zapatista.jpg',
                class: 'img-responsive img-rounded') + category.name,
                category,
                class: 'text-center text-info')
          .panel-body
            %p.text-center.text-muted
              = category.description

              - if category.has_date_bounds
                %p
                  %strong #{category.has_started ? 'Started' : 'Starts'}
                  = date_string category.start_date
                  %strong #{category.has_ended ? 'Ended' : 'Ends'}
                  = date_string category.end_date

            - if category.has_task_due_within_a_week
              %p
                %strong Most Pressing:
                = category.first_incomplete_task.name
                %br
                %strong Due:
                - if category.first_incomplete_duedate.nil?
                  No duedate
                - else
                  = category.first_incomplete_duedate.strftime("<b>%A</b> at %l:%M %p").html_safe
            - if category.avg_secs_per_day > 0
              %p
                %strong Hrs per Day:
                -# print num seconds as HH:MM
                = Time.at(category.avg_secs_per_day).gmtime.strftime('%R')
            .text-center
              = link_to 'Edit',
                edit_category_path(category),
                class: 'btn btn-warning'
              = link_to 'Delete',
                category,
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: 'btn btn-danger'
%br
%br
%br
= link_to 'New Category', new_category_path, class: 'btn btn-success btn-lg'
