<h1>My Categories</h1><br/>

<div class="container">
    <div class="row">
        <% @categories.each do |category| %>
            <!-- change this number to change the width of the thingy
                 recall the whole grid is 12 cols wide -->
            <div class="col-md-4 panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center text-info">
                        <%= link_to(
                                    image_tag('Zapatista.jpg',
                                              class: 'img-responsive img-rounded')+
                                            category.name,
                                    category,
                                    class: 'text-center text-info') %>
                    </h3>
                </div>
                <div class="panel-body">
                    <p class="text-center text-muted"><%= category.description %></p>
                    <div class="text-center">

                        <%= link_to 'Edit',
                                    edit_category_path(category),
                                    class: 'btn btn-warning' %>
                        <%= link_to 'Delete',
                                    category,
                                    method: :delete,
                                    data: { confirm: 'Are you sure?' },
                                    class: 'btn btn-danger' %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

<br/><br/><br/>

<%= link_to 'New Category', new_category_path, class: 'btn btn-success btn-lg' %>
