%p#notice= notice

%h1
  = @category.name
  = link_to 'Edit Category', edit_category_path(@category), class: 'btn btn-info btn-md'
  = link_to 'Back', categories_path, class: 'btn btn-default btn-md'

%h5
  - if @category.has_date_bounds
    %b Starts:
    = date_string @category.start_date
    %br
    %br
    %b Ends:
    = date_string @category.end_date
  - else
    %b No start or end dates set

/ Incomplete Tasks Table
= render 'tasks/table',
  title: 'Do These',
  tasks: @category.tasks.incomplete - @category.tasks.turned_in

/ Complete but Not Turned-In Tasks Table
= render 'tasks/table',
  title: 'Complete',
  tasks: @category.tasks.complete - @category.tasks.turned_in

/ Turned-In Tasks Table
= render 'tasks/table',
  title: 'Turned In',
  tasks: @category.tasks.turned_in

%br/
= link_to 'New Task', new_category_task_path(@category), class: 'btn btn-success btn-lg'
