<!DOCTYPE html>
<html>
<head>
    <title>Trracker</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
    <ul class="nav nav-tabs">
        <% if user_signed_in? %>
            <li><%= link_to "My Homepage", home_path %></li>
            <li><%= link_to "Categories", categories_path(current_user) %></li>
        <% end %>
        <li><%= link_to "Splashpage", home_path %></li>
        <li><%= link_to "About", about_path %></li>
        <div class="navbar-text pull-right">
            <% if user_signed_in? %>
                Logged in as <strong><%= current_user.full_name %></strong>.
                <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <% else %>
                <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
                <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>

        </div>
    </ul>
    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
</div>
</body>
</html>
